In [4]:
import pandas as pd
import numpy as np

df=pd.read_excel('pokemon_data.xlsx')             #read excel file
print(df.head(3))                                 #print top data first 3 lines
# print(df.tail(2))                                 #print bottom data last 2 lines
# df=pd.read_csv('pokemon_data.csv')                #read csv file

# df=pd.read_csv('pokemon_data.txt',delimiter='\t') #read txt file with tab separated data
# print(df)

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60
2  3   Venusaur  Grass  Poison  80      82       83      100      100     80

   Generation  Legendary
0           1      False
1           1      False
2           1      False

In [5]:
## Read Headers
Col=df.columns
print(Col)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [6]:
##read specific columns
print(df['Name'][0:15])    #read names upto index 15
# print(df[['Name','Type 1','HP','Attack']])#read specific rows

0                     Bulbasaur
1                       Ivysaur
2                      Venusaur
3         VenusaurMega Venusaur
4                    Charmander
5                    Charmeleon
6                     Charizard
7     CharizardMega Charizard X
8     CharizardMega Charizard Y
9                      Squirtle
10                    Wartortle
11                    Blastoise
12      BlastoiseMega Blastoise
13                     Caterpie
14                      Metapod
Name: Name, dtype: object

In [7]:
##read each row
roow=df.iloc[1:6] 
print(roow)

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60
5  5             Charmeleon   Fire     NaN  58      64       58       80

   Sp. Def  Speed  Generation  Legendary
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False
5       65     80           1      False

In [8]:
#read a specific location(row and column)
print(df.iloc[5,4])  #row then coloumn separated by a comma

58

In [9]:
#read each row using for loop
for index, row in df.iterrows():
    print(index,row['Type 1'])

0 Grass
1 Grass
2 Grass
3 Grass
4 Fire
5 Fire
6 Fire
7 Fire
8 Fire
9 Water
10 Water
11 Water
12 Water
13 Bug
14 Bug
15 Bug
16 Bug
17 Bug
18 Bug
19 Bug
20 Normal
21 Normal
22 Normal
23 Normal
24 Normal
25 Normal
26 Normal
27 Normal
28 Poison
29 Poison
30 Electric
31 Electric
32 Ground
33 Ground
34 Poison
35 Poison
36 Poison
37 Poison
38 Poison
39 Poison
40 Fairy
41 Fairy
42 Fire
43 Fire
44 Normal
45 Normal
46 Poison
47 Poison
48 Grass
49 Grass
50 Grass
51 Bug
52 Bug
53 Bug
54 Bug
55 Ground
56 Ground
57 Normal
58 Normal
59 Water
60 Water
61 Fighting
62 Fighting
63 Fire
64 Fire
65 Water
66 Water
67 Water
68 Psychic
69 Psychic
70 Psychic
71 Psychic
72 Fighting
73 Fighting
74 Fighting
75 Grass
76 Grass
77 Grass
78 Water
79 Water
80 Rock
81 Rock
82 Rock
83 Fire
84 Fire
85 Water
86 Water
87 Water
88 Electric
89 Electric
90 Normal
91 Normal
92 Normal
93 Water
94 Water
95 Poison
96 Poison
97 Water
98 Water
99 Ghost
100 Ghost
101 Ghost
102 Ghost
103 Rock
104 Psychic
105 Psychic
106 Water
107 Water
108 Electric
109 Electric
110 Grass
111 Grass
112 Ground
113 Ground
114 Fighting
115 Fighting
116 Normal
117 Poison
118 Poison
119 Ground
120 Ground
121 Normal
122 Grass
123 Normal
124 Normal
125 Water
126 Water
127 Water
128 Water
129 Water
130 Water
131 Psychic
132 Bug
133 Ice
134 Electric
135 Fire
136 Bug
137 Bug
138 Normal
139 Water
140 Water
141 Water
142 Water
143 Normal
144 Normal
145 Water
146 Electric
147 Fire
148 Normal
149 Rock
150 Rock
151 Rock
152 Rock
153 Rock
154 Rock
155 Normal
156 Ice
157 Electric
158 Fire
159 Dragon
160 Dragon
161 Dragon
162 Psychic
163 Psychic
164 Psychic
165 Psychic
166 Grass
167 Grass
168 Grass
169 Fire
170 Fire
171 Fire
172 Water
173 Water
174 Water
175 Normal
176 Normal
177 Normal
178 Normal
179 Bug
180 Bug
181 Bug
182 Bug
183 Poison
184 Water
185 Water
186 Electric
187 Fairy
188 Normal
189 Fairy
190 Fairy
191 Psychic
192 Psychic
193 Electric
194 Electric
195 Electric
196 Electric
197 Grass
198 Water
199 Water
200 Rock
201 Water
202 Grass
203 Grass
204 Grass
205 Normal
206 Grass
207 Grass
208 Bug
209 Water
210 Water
211 Psychic
212 Dark
213 Dark
214 Water
215 Ghost
216 Psychic
217 Psychic
218 Normal
219 Bug
220 Bug
221 Normal
222 Ground
223 Steel
224 Steel
225 Fairy
226 Fairy
227 Water
228 Bug
229 Bug
230 Bug
231 Bug
232 Bug
233 Dark
234 Normal
235 Normal
236 Fire
237 Fire
238 Ice
239 Ice
240 Water
241 Water
242 Water
243 Ice
244 Water
245 Steel
246 Dark
247 Dark
248 Dark
249 Water
250 Ground
251 Ground
252 Normal
253 Normal
254 Normal
255 Fighting
256 Fighting
257 Ice
258 Electric
259 Fire
260 Normal
261 Normal
262 Electric
263 Fire
264 Water
265 Rock
266 Rock
267 Rock
268 Rock
269 Psychic
270 Fire
271 Psychic
272 Grass
273 Grass
274 Grass
275 Grass
276 Fire
277 Fire
278 Fire
279 Fire
280 Water
281 Water
282 Water
283 Water
284 Dark
285 Dark
286 Normal
287 Normal
288 Bug
289 Bug
290 Bug
291 Bug
292 Bug
293 Water
294 Water
295 Water
296 Grass
297 Grass
298 Grass
299 Normal
300 Normal
301 Water
302 Water
303 Psychic
304 Psychic
305 Psychic
306 Psychic
307 Bug
308 Bug
309 Grass
310 Grass
311 Normal
312 Normal
313 Normal
314 Bug
315 Bug
316 Bug
317 Normal
318 Normal
319 Normal
320 Fighting
321 Fighting
322 Normal
323 Rock
324 Normal
325 Normal
326 Dark
327 Dark
328 Steel
329 Steel
330 Steel
331 Steel
332 Steel
333 Steel
334 Fighting
335 Fighting
336 Fighting
337 Electric
338 Electric
339 Electric
340 Electric
341 Electric
342 Bug
343 Bug
344 Grass
345 Poison
346 Poison
347 Water
348 Water
349 Water
350 Water
351 Water
352 Fire
353 Fire
354 Fire
355 Fire
356 Psychic
357 Psychic
358 Normal
359 Ground
360 Ground
361 Ground
362 Grass
363 Grass
364 Normal
365 Dragon
366 Dragon
367 Normal
368 Poison
369 Rock
370 Rock
371 Water
372 Water
373 Water
374 Water
375 Ground
376 Ground
377 Rock
378 Rock
379 Rock
380 Rock
381 Water
382 Water
383 Normal
384 Normal
385 Ghost
386 Ghost
387 Ghost
388 Ghost
389 Ghost
390 Grass
391 Psychic
392 Dark
393 Dark
394 Psychic
395 Ice
396 Ice
397 Ice
398 Ice
399 Ice
400 Ice
401 Water
402 Water
403 Water
404 Water
405 Water
406 Dragon
407 Dragon
408 Dragon
409 Dragon
410 Steel
411 Steel
412 Steel
413 Steel
414 Rock
415 Ice
416 Steel
417 Dragon
418 Dragon
419 Dragon
420 Dragon
421 Water
422 Water
423 Ground
424 Ground
425 Dragon
426 Dragon
427 Steel
428 Psychic
429 Psychic
430 Psychic
431 Psychic
432 Grass
433 Grass
434 Grass
435 Fire
436 Fire
437 Fire
438 Water
439 Water
440 Water
441 Normal
442 Normal
443 Normal
444 Normal
445 Normal
446 Bug
447 Bug
448 Electric
449 Electric
450 Electric
451 Grass
452 Grass
453 Rock
454 Rock
455 Rock
456 Rock
457 Bug
458 Bug
459 Bug
460 Bug
461 Bug
462 Bug
463 Bug
464 Electric
465 Water
466 Water
467 Grass
468 Grass
469 Water
470 Water
471 Normal
472 Ghost
473 Ghost
474 Normal
475 Normal
476 Normal
477 Ghost
478 Dark
479 Normal
480 Normal
481 Psychic
482 Poison
483 Poison
484 Steel
485 Steel
486 Rock
487 Psychic
488 Normal
489 Normal
490 Ghost
491 Dragon
492 Dragon
493 Dragon
494 Dragon
495 Normal
496 Fighting
497 Fighting
498 Fighting
499 Ground
500 Ground
501 Poison
502 Poison
503 Poison
504 Poison
505 Grass
506 Water
507 Water
508 Water
509 Grass
510 Grass
511 Grass
512 Dark
513 Electric
514 Normal
515 Ground
516 Grass
517 Electric
518 Fire
519 Fairy
520 Bug
521 Grass
522 Ice
523 Ground
524 Ice
525 Normal
526 Psychic
527 Psychic
528 Rock
529 Ghost
530 Ice
531 Electric
532 Electric
533 Electric
534 Electric
535 Electric
536 Electric
537 Psychic
538 Psychic
539 Psychic
540 Steel
541 Water
542 Fire
543 Normal
544 Ghost
545 Ghost
546 Psychic
547 Water
548 Water
549 Dark
550 Grass
551 Grass
552 Normal
553 Psychic
554 Grass
555 Grass
556 Grass
557 Fire
558 Fire
559 Fire
560 Water
561 Water
562 Water
563 Normal
564 Normal
565 Normal
566 Normal
567 Normal
568 Dark
569 Dark
570 Grass
571 Grass
572 Fire
573 Fire
574 Water
575 Water
576 Psychic
577 Psychic
578 Normal
579 Normal
580 Normal
581 Electric
582 Electric
583 Rock
584 Rock
585 Rock
586 Psychic
587 Psychic
588 Ground
589 Ground
590 Normal
591 Normal
592 Fighting
593 Fighting
594 Fighting
595 Water
596 Water
597 Water
598 Fighting
599 Fighting
600 Bug
601 Bug
602 Bug
603 Bug
604 Bug
605 Bug
606 Grass
607 Grass
608 Grass
609 Grass
610 Water
611 Ground
612 Ground
613 Ground
614 Fire
615 Fire
616 Fire
617 Grass
618 Bug
619 Bug
620 Dark
621 Dark
622 Psychic
623 Ghost
624 Ghost
625 Water
626 Water
627 Rock
628 Rock
629 Poison
630 Poison
631 Dark
632 Dark
633 Normal
634 Normal
635 Psychic
636 Psychic
637 Psychic
638 Psychic
639 Psychic
640 Psychic
641 Water
642 Water
643 Ice
644 Ice
645 Ice
646 Normal
647 Normal
648 Electric
649 Bug
650 Bug
651 Grass
652 Grass
653 Water
654 Water
655 Water
656 Bug
657 Bug
658 Grass
659 Grass
660 Steel
661 Steel
662 Steel
663 Electric
664 Electric
665 Electric
666 Psychic
667 Psychic
668 Ghost
669 Ghost
670 Ghost
671 Dragon
672 Dragon
673 Dragon
674 Ice
675 Ice
676 Ice
677 Bug
678 Bug
679 Ground
680 Fighting
681 Fighting
682 Dragon
683 Ground
684 Ground
685 Dark
686 Dark
687 Normal
688 Normal
689 Normal
690 Dark
691 Dark
692 Fire
693 Bug
694 Dark
695 Dark
696 Dark
697 Bug
698 Bug
699 Steel
700 Rock
701 Grass
702 Flying
703 Flying
704 Electric
705 Electric
706 Dragon
707 Dragon
708 Ground
709 Ground
710 Dragon
711 Dragon
712 Dragon
713 Water
714 Water
715 Normal
716 Normal
717 Bug
718 Grass
719 Grass
720 Grass
721 Fire
722 Fire
723 Fire
724 Water
725 Water
726 Water
727 Normal
728 Normal
729 Normal
730 Fire
731 Fire
732 Bug
733 Bug
734 Bug
735 Fire
736 Fire
737 Fairy
738 Fairy
739 Fairy
740 Grass
741 Grass
742 Fighting
743 Fighting
744 Normal
745 Psychic
746 Psychic
747 Psychic
748 Steel
749 Steel
750 Steel
751 Steel
752 Fairy
753 Fairy
754 Fairy
755 Fairy
756 Dark
757 Dark
758 Rock
759 Rock
760 Poison
761 Poison
762 Water
763 Water
764 Electric
765 Electric
766 Rock
767 Rock
768 Rock
769 Rock
770 Fairy
771 Fighting
772 Electric
773 Rock
774 Dragon
775 Dragon
776 Dragon
777 Steel
778 Ghost
779 Ghost
780 Ghost
781 Ghost
782 Ghost
783 Ghost
784 Ghost
785 Ghost
786 Ghost
787 Ghost
788 Ice
789 Ice
790 Flying
791 Flying
792 Fairy
793 Dark
794 Dragon
795 Rock
796 Rock
797 Psychic
798 Psychic
799 Fire

In [10]:
df.loc[df['Type 1']== "Ghost"]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
99,92,Gastly,Ghost,Poison,30,35,30,100,35,80,1,False
100,93,Haunter,Ghost,Poison,45,50,45,115,55,95,1,False
101,94,Gengar,Ghost,Poison,60,65,60,130,75,110,1,False
102,94,GengarMega Gengar,Ghost,Poison,60,65,80,170,95,130,1,False
215,200,Misdreavus,Ghost,NaN,60,60,60,85,85,85,2,False
385,353,Shuppet,Ghost,NaN,44,75,35,63,33,45,3,False
386,354,Banette,Ghost,NaN,64,115,65,83,63,65,3,False
387,354,BanetteMega Banette,Ghost,NaN,64,165,75,93,83,75,3,False
388,355,Duskull,Ghost,NaN,20,40,90,30,90,25,3,False
389,356,Dusclops,Ghost,NaN,40,70,130,60,130,25,3,False
472,425,Drifloon,Ghost,Flying,90,50,34,60,44,70,4,False
473,426,Drifblim,Ghost,Flying,150,80,44,90,54,80,4,False
477,429,Mismagius,Ghost,NaN,60,60,60,105,105,105,4,False
490,442,Spiritomb,Ghost,Dark,50,92,108,92,108,35,4,False
529,477,Dusknoir,Ghost,NaN,45,100,135,65,135,45,4,False
544,487,GiratinaAltered Forme,Ghost,Dragon,150,100,120,100,120,90,4,True
545,487,GiratinaOrigin Forme,Ghost,Dragon,150,120,100,120,100,90,4,True
623,562,Yamask,Ghost,NaN,38,30,85,55,65,30,5,False
624,563,Cofagrigus,Ghost,NaN,58,50,145,95,105,30,5,False
668,607,Litwick,Ghost,Fire,50,30,55,65,55,20,5,False
669,608,Lampent,Ghost,Fire,60,40,60,95,60,55,5,False
670,609,Chandelure,Ghost,Fire,60,55,90,145,90,80,5,False
778,708,Phantump,Ghost,Grass,43,70,48,50,60,38,6,False
779,709,Trevenant,Ghost,Grass,85,110,76,65,82,56,6,False
780,710,PumpkabooAverage Size,Ghost,Grass,49,66,70,44,55,51,6,False
781,710,PumpkabooSmall Size,Ghost,Grass,44,66,70,44,55,56,6,False
782,710,PumpkabooLarge Size,Ghost,Grass,54,66,70,44,55,46,6,False
783,710,PumpkabooSuper Size,Ghost,Grass,59,66,70,44,55,41,6,False
784,711,GourgeistAverage Size,Ghost,Grass,65,90,122,58,75,84,6,False
785,711,GourgeistSmall Size,Ghost,Grass,55,85,122,58,75,99,6,False
786,711,GourgeistLarge Size,Ghost,Grass,75,95,122,58,75,69,6,False
787,711,GourgeistSuper Size,Ghost,Grass,85,100,122,58,75,54,6,False

In [11]:
df.describe()     #mean,standard deviation etc

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [12]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [13]:
df.sort_values('Name',ascending=False)      #sorting data

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

In [14]:
df['Total']=df['HP']+df['Defense']+df['Sp. Atk']+df['Sp. Def']+df['Speed']
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,269
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,343
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,443
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,525
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,257

In [15]:
df=df.drop(columns=['Total'])

In [16]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [17]:
#add column
df['Total']=df.iloc[:,4:10].sum(axis=1) #add column using indexing
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [18]:
df.to_excel('modified.xlsx',index=False) #save in excel format and remove extra indices

In [19]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [20]:
new_df=df.loc[(df['Type 1']=='Grass')&(df['Type 2']=='Poison')&(df['HP']>=70)]  #filtering data using column headers

In [21]:
new_df.to_excel('filtered.xlsx')

In [22]:
df.loc[~df['Name'].str.contains('Mega')] # filtering data using specific string in the data(common words)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True,600
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [23]:
import re
df.loc[df['Type 1'].str.contains('Fire|Ghost',flags=re.I, regex=True)] #using regrex to filter data

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,534
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634
...,...,...,...,...,...,...,...,...,...,...,...,...,...
784,711,GourgeistAverage Size,Ghost,Grass,65,90,122,58,75,84,6,False,494
785,711,GourgeistSmall Size,Ghost,Grass,55,85,122,58,75,99,6,False,494
786,711,GourgeistLarge Size,Ghost,Grass,75,95,122,58,75,69,6,False,494
787,711,GourgeistSuper Size,Ghost,Grass,85,100,122,58,75,54,6,False,494
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [29]:
## conditional Changes
df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I,regex=True)]   #using specific letters in a column to filter ^-start with * from zero

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False,251
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False,349
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False,479
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,579
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False,320
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False,500
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False,600
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False,205
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False,290
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False,450
438,393,Piplup,Water,NaN,53,51,53,61,56,40,4,False,314
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False,418
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False,264

In [31]:
df.loc[df['Type 1']=='Fire','Type 1']= 'Flamer'

In [32]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Flamer,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Flamer,Water,80,110,120,130,90,70,6,True,600

In [34]:
df.loc[df['Total']>500,['Generation','Legendary']]=['Test Value','Test subject']

In [35]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,Test Value,Test subject,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,Test Value,Test subject,625
4,4,Charmander,Flamer,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,Test Value,Test subject,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,Test Value,Test subject,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,Test Value,Test subject,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,Test Value,Test subject,680
799,721,Volcanion,Flamer,Water,80,110,120,130,90,70,Test Value,Test subject,600

In [36]:
df=pd.read_excel('modified.xlsx')

In [37]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [40]:
#aggregate statistics(groupby)
df.groupby(['Type 1']).mean().sort_values('Defense',ascending=False)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Type 1,,,,,,,,,,
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148,487.703704
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909,453.750000
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000,550.531250
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000,437.500000
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500,439.562500
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714,430.455357
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333,433.458333
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857,421.142857
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000,378.927536
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516,445.741935
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000,399.142857
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154,458.076923
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614,475.947368
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909,443.409091
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000,485.000000
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000,416.444444
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824,413.176471
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408,401.683673

In [41]:
for df in pd.read_excel('modified.xlsx',chunksize=10):
    print("Chunk Size")
    print(df)    # chunksize keyword of read_excel is not implemented

NotImplementedError: chunksize keyword of read_excel is not implemented